@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --left-bg-color: rgba(87, 84, 236, 0.3);
    --right-bg-color: rgba(236, 84, 87, 0.3);
    --left-btn-hover-color: rgba(87, 84, 236, 1);
    --right-btn-hover-color: rgba(236, 84, 87, 1);
    --hover-width: 60%;
    --other-width: 40%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    white-space: nowrap;
    user-select: none;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    border: white solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
    user-select: none;
}

.split.left .btn:hover {
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 1s ease;
}

.split.left .left-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: url('images/1920x1920-audi-e-tron-gt-front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
}

.split.left {
    left: 0;
}

.split.left:hover .left-bg {
    transform: scale(1.05);
}

.left-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--left-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
}

.split.left:hover .left-bg::before {
    opacity: 1;
}

.split.right .right-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 1s ease;
    background: url('images/1277x718-audi-rs-gt-rear-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right {
    right: 0;
}

.split.right:hover .right-bg {
    transform: scale(1.2);
}

.right-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--right-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
}

.split.right:hover .right-bg::before {
    opacity: 1;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}